html, body {
  background: #282828;
}

body {
  margin: 0;
  font: normal 14px Georgia, Palatino, serif;
}

a { color: blue; }

h1 {
  font: bold 24px Helvetica, Arial, sans-serif;
}

header {
  max-width: 960px;
  padding: 10px 20px;
  margin: 0 auto 25px auto;
  background: #ffffff;
}

header h1 {
  display: inline-block;
  padding: 0;
  margin: 0 1em 0 0;
}

nav {
  display: inline-block;
  font-size: 1.3em;
}

nav li {
  display: inline;
  margin: 0 1em 0 0;
}

nav a.active {
  color: #03cf25;
}

main {
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
  background: #ffffff;
}

article + article {
  display: none;
}

figure {
  max-width: 662px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  max-width: 662px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background: #ffffff;
  box-sizing: border-box;
}

figcaption {
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-top: none;
  background: #ffffff;
}
